<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="navbar" class="gtco-nav" role="navigation">
        <div class="gtco-container">

            <div class="row">
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:href="@{/contact}">Contact</a></li>
                        <li><a th:href="@{/shop}">Webshop</a></li>
                        <li><a th:href="@{/admin}">Admin</a></li>
                        <li><a th:href="@{/cart}"><img src="images/shopping_cart.png" width="30" height="30"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
</body>
</html>