<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">

</head>
<body>
    <div class="gtco-loader"></div>

    <div th:insert="fragments/navigation :: navbar"></div>

    <div th:insert="fragments/header :: header(name='Admin', value='Admin Page for creating, editing, deleting items')"></div>

    <div id="create-item">
        <a th:href="@{/create}">Create new item...</a>
    </div>

    <div class="store-container">
        <div class="store-item-container">
            <div class="gtco-services">
                <div class="gtco-container">
                    <div th:each="item: ${itemList}" class="row row-pb-md">
                        <div class="service">
                            <table class="item-table">
                                <tbody>
                                <tr>
                                    <th>
                                        <h3 th:text="${item.title}"></h3>
                                    </th>
                                    <th>
                                        <h3>Price</h3>
                                    </th>
                                </tr>
                                <tr>
                                    <td th:text="${item.description}"></td>
                                    <td th:text="${item.price}"></td>
                                    <td><a th:href="@{/edit(itemId=${item.id})}">Edit</a></td>
                                    <td><a th:href="@{/delete(itemId=${item.id})}">Delete</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Main -->
    <script src="js/main.js"></script>

</body>
</html>