<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head">

</head>
<body>
    <div class="gtco-loader"></div>

    <div th:insert="fragments/navigation :: navbar"></div>

    <div th:insert="fragments/header :: header(name='Shop', value='Webshop Page with Thymeleaf Fragment Insertion')"></div>

    <div class="store-container">
        <div class="store-item-container">
            <div class="gtco-services">
                <div class="gtco-container">
                    <div th:each="item: ${itemList}" class="row row-pb-md">
                        <div class="service">
                            <table class="item-table">
                                <tbody>
                                <tr>
                                    <th>
                                        <h3 th:text="${item.title}"></h3>
                                    </th>
                                    <th>
                                        <h3>Price</h3>
                                    </th>
                                    <th>
                                        <h3>Quantity</h3>
                                    </th>
                                </tr>
                                <tr>
                                    <td th:text="${item.description}"></td>
                                    <td th:text="${item.price}"></td>
                                    <td>
                                        <div class="StoreSubmit">
                                            <select id="Amount" name="Amount">
                                                <option value="1" selected>1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td><input class="SubmitButton" type="submit" value="Add to Cart" /></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Main -->
    <script src="js/main.js"></script>

</body>
</html>