<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SpringWebshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>

</head>
<body>
    <div class="gtco-loader"></div>

    <div th:insert="fragments/navigation :: navbar"></div>

    <div th:insert="fragments/header :: header(name='Shop', value='Webshop Page with Thymeleaf Fragment Insertion')"></div>

    <div class="StoreContainer">
        <div class="StoreItemContainer">
            <div class="StoreItem">
                <table class="table">
                    <tbody>
                    <tr>
                        <td style="width:20%">
                            This is the Title
                        </td>
                        <td style="width:60%">
                            This is the description
                        </td>
                        <td style="width:20%">
                            This is the Price
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Main -->
    <script src="js/main.js"></script>

</body>
</html>